.App > p {
  display: flex;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 20px;
  color: rgb(253, 88, 0);
  justify-content: center;
}
.App > p:after {
  transform: translateY(68px);
  content: " ";
  position: absolute;
  /* width: 0px; */
  height: 4.6px;
  background-color: rgb(253, 88, 0);
  border-radius: 50px;
  animation-name: fullWidth;
  animation-duration: 700ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-fill-mode: forwards;
}
@keyframes fullWidth {
  from {
    width: 120px;
  }
  to {
    width: 180px;
  }
}
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
